@model EntityLayer.Concrete.About


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}



@using (Html.BeginForm("Index", "About", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">

                <p class="card-description">Hakkımda Düzenleme Paneli</p>
                <form class="forms-sample">
                    <div class="form-group">
                        <label>ID</label>
                        <input type="text" class="form-control" value="@Model.AboutID" name="AboutID">
                    </div>
                    <div class="form-group">
                        <label>Başlık</label>
                        <input type="text" class="form-control" value="@Model.Title" name="Title">
                    </div>
                    <div class="form-group">
                        <label>Yaş</label>
                        <input type="text" class="form-control" value="@Model.Age" name="Age">
                    </div>
                    <div class="form-group">
                        <label>Mail</label>
                        <input type="text" class="form-control" value="@Model.Mail" name="Mail">
                    </div>
                    <div class="form-group">
                        <label>Adres</label>
                        <input type="text" class="form-control" value="@Model.Address" name="Address">
                    </div>
                    <div class="form-group">
                        <label>Telefon</label>
                        <input type="text" class="form-control" value="@Model.Phone" name="Phone">
                    </div>
                    <div class="form-group">
                        <label>Görsel URL</label>
                        <input type="text" class="form-control" value="@Model.ImageUrl" name="ImageUrl">
                    </div>



                    <div class="form-group">
                        <label>Açıklama</label>
                        <input type="text" class="form-control" value="@Model.Description" name="Description">
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
                    <button class="btn btn-dark">İptal</button>
                </form>
            </div>
        </div>
    </div>


}