@model EntityLayer.Concrete.Experience
@{
    ViewData["Title"] = "UpdateExperience";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}


@using (Html.BeginForm("UpdateExperience", "Experience", "Post"))
{
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">

            <p class="card-description">Deneyim Düzenleme Paneli</p>
            <form class="forms-sample">
                <div class="form-group">
                    <label>ID</label>
                    <input type="text" class="form-control" value="@Model.ExperienceID" name="ExperienceID">
                </div>
                <div class="form-group">
                    <label>Başlık</label>
                    <input type="text" class="form-control" value="@Model.Name" name="Name">
                </div>
                <div class="form-group">
                    <label>Tarih</label>
                    <input type="text" class="form-control" value="@Model.Date" name="Date">
                </div>
                <div class="form-group">
                    <label>Görsel URL</label>
                    <input type="text" class="form-control" value="@Model.ImageUrl" name="ImageUrl">
                </div>



                <div class="form-group">
                    <label>Açıklama</label>
                    <input type="text" class="form-control" value="@Model.Description" name="Description">
                </div>
                <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
                <button class="btn btn-dark">İptal</button>
            </form>
        </div>
    </div>
</div>
}